body {
    margin: 0;
    font-family: Arial;
}

/* Header */
header {
    padding: 15px 30px;
    background: #ff4da6;
    color: white;
    overflow: hidden;
}

header h2 {
    float: left;
    margin: 0;
}

nav {
    float: right;
}

header a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}


/* Hero Section */
.hero {
    padding: 50px;
    overflow: hidden;
}

.hero-text {
    width: 50%;
    float: left;
}

.hero-img {
    width: 40%;
    float: right;
}

.hero-img img {
    width: 100%;
    border-radius: 15px;
}


/* Text */
.hero-text h1 {
    font-size: 42px;
    color: #ff4da6;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}


/* Button */
button {
    padding: 10px 20px;
    background: #ff4da6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e60073;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}


/* About Section */
.about {
    padding: 60px;
    background: #fff0f6;
}

.about-container {
    width: 100%;
    overflow: hidden;
}

.left {
    width: 40%;
    float: left;
    font-size: 30px;
    color: #ff4da6;
    font-weight: bold;
}

.right {
    width: 60%;
    float: right;
}

.about-container::after {
    content: "";
    display: block;
    clear: both;
}


/* About text */
.right p {
    color: #444;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
}


/* Skills title */
.right h3 {
    margin-top: 20px;
    color: #8b5cf6;
}


/* Skills style */
.right ul {
    list-style: none;
    padding: 0;
}

.right ul li {
    background: #ff4da6;
    color: white;
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

.right ul li:hover {
    background: #e60073;
}


/* Footer */
footer {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(180deg, #8b5cf6, #ff4da6);
    color: white;
}

footer h3 {
    font-size: 26px;
    margin-bottom: 10px;
}

footer p {
    font-size: 15px;
}


/* Social links */
.social {
    margin-top: 20px;
}

.social a {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 10px;

    background: rgba(255,255,255,0.2);
    border-radius: 50%;

    color: white;
    font-size: 18px;

    text-decoration: none;
    line-height: 45px;
    transition: 0.3s;
}

.social a:hover {
    background: white;
    color: #ff4da6;
}
